# Database connection string
DATABASE_URL=postgres://postgres:your_password@localhost:5432/denuncia_db?sslmode=disable

# Random string used to make hashes un-crackable
HASH_SALT=V3ry_S3cr3t_Ch1l3_S4lt_2026

# Server Port
PORT=3000

# Environment (development or production)
GO_ENV=development
